html{
    font-size: 10px;
}
body{
    background-image: url(gallerybg.jpg);
}
.glrybtn{
    color: white;
    background-color: black;
    font-size: 5rem;
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
    text-decoration: none;
}
.faltu{
    margin-top: 300px;
    margin-left: 450px;
}
.glrybtn1{
    margin-right: 20px;
}