.a{
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: 25px;
  border-radius: 0px;
  position: absolute;
  padding: 10px;
}
body{
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.exit-button{
  position: absolute;
  background-color: white;
  border-radius: 100px;
  border: none;
}
.gfloor2{
  position: absolute;
    width: 64px;
    left: 317px;
    bottom: 124px;
    background-color: white;
    height: 64px;
    border-radius: 100px;
} 
.ffloor{
  position: absolute;
    width: 55px;
    height: 55px;
    left: 643px;
    bottom: 127px;
    border-radius: 100px;
    background: white;
    transform: rotate(270deg);
}
