@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url(backgroundimage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
nav{
    background-color: black;
    padding: 4vh;
    height: 7vh;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline;
    padding: 0 6vh;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Merriweather Sans', sans-serif;

}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li :hover{
    text-decoration: underline;
    color: white;
    text-underline-offset: 2vh;
}

.logo-text{
    color: white;
    position: absolute;
    left: 0;
}

.nav-below-box{
    color: black;
    width: 412px;
    height: 383px;
    background-color: white;
    font-family: 'Merriweather Sans', sans-serif;
    position: absolute;
    right: 40px;
    top: 360px;

}
.history{
    text-align: center;
    font-size: large;
    padding: 5px;
    margin: 5px 0 0 0;
}
.p{
    text-align: center;
    margin: 5px 0;
    padding: 5px;
}
.learn-more{
    padding: 0;
    width: 85px;
    height: 40px;
    margin: 0 0 0 310px;
    background-color: black;
    border: none;
    color: white;
    font-weight: 500;
}
.nav-below-box:hover{
    background-color: black;
    color: white;
}
.learn-more:hover{
    background-color: white;
    color: black;
}