@media only screen and (max-width: 320px){
  footer{
    width: 100vw;
  }

  .para{
      font-size: 4rem;
  }
  /* .para-2 */

  .gallery-heading{
      padding-left: 1vh;
      font-size: 4rem;
  }

  .gallery{
      padding-left: 1vw;
      padding-right: 1vw;
      width: 80vw;
  }

  .imgs{
      display: block;
  }

  .gallery-card{
      width: 73vw;
      margin-bottom: 5vh;
  }

  .gallery-image{
      height: 130px;
      margin-left: 5vw;
      width: auto;
  }
}