@media only screen and (max-width: 710px){
    .logo-text{
        display: none;
    }
}

@media only screen and (max-width: 450px){
    nav{
        height: 180px;
        text-align: center;
        flex-direction: column;
        transition: all 0.7s ease-in-out;
    }
    
    nav ul li {
        padding: 0 1vh;
        margin: 10px;
    }
    
    nav ul  {
        flex-direction: column;
        transition: all 0.7s ease-in-out;
    }
    
    .burger{
        display: block;
    }

    .burger-nav{
        height: 22px;
    }

    .opacity-class{
        opacity: 0;
    }
}

@media only screen and (max-width: 700px){
    footer{
      width: 100vw;
    }

    .para{
        font-size: 4rem;
    }
    /* .para-2 */
  
    .gallery-heading{
        padding-left: 1vh;
        font-size: 3rem;
        float: initial;
    }
    
    .gallery-btn{
        float: initial;
        height: 8vh;
        width: auto;
        margin: 0 7vh;
        display: block;
    }

    .gallery{
        padding-left: 1vw;
        padding-right: 1vw;
        width: 80vw;
    }
  
    .imgs{
        display: block;
    }
  
    .gallery-card{
        width: 73vw;
        margin-bottom: 5vh;
    }
  
    .gallery-image{
        height: 20vh;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .gallery-title{
        display: inherit;
    }

    .about{
        margin-right: -10px;
        display: block;
        width: 200px;
    }

    .flex{
        display: initial;
    }

    .main-page-contact-form{
        display: block;
    }

    .main-page-contact-button{
        position: relative;
        height: auto;
        margin: 30px 30px;
        width: auto;
    }

    .main-page-contact-text{
        margin-bottom: -10px;
        padding-top: 30px;
    }

    .right{
        display: none;
    }

  }
