*{
    padding: 0;
    margin: 0;
}

.navbar{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    height: 15vh;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin-left: 15vh;
    margin-top: 6vh;
    font-weight: 900;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: aqua;
}

.nav-para{
    color: white;
    /* transform: rotate(-20deg); */
    position: absolute;
    right: 0;
    margin-right: 8vh;
    margin-top: 5vh;
    font-size: 5vh;
}

.nav-contact a{
    text-decoration: none;
    color: aqua;
}